<h2>Product Details</h2>

<div *ngIf="product">
  <h3>{{ product.name }}</h3>

  <!--The line below uses the currency pipe to transform product.price
  from a number to a currency string. A pipe is a way you can transform
  data in your HTML template.-->
  <h4>{{ product.price | currency }}</h4>
  <p>{{ product.description }}</p>

</div>

<button (click)="addToCart(product)">Buy</button>
