<app-top-bar></app-top-bar>

<div class="container">
  <router-outlet></router-outlet>
</div>
 <!-- <br>
<a href="team_alex.html"><button type="button" name="button">
  Team Alex</button></a>
<a href="team_alex.html">Here is a new link</a>
<button type="button" name="button">Team Ben</button>
<button type="button" name="button">Team Abhi</button> -->

<!-- Important to Note:
This guide shows you how to use Angular routing to give
the user in-app navigation. In a single-page app, instead
 of loading new pages, you show different components and
 data to the user based on where the user is in the
 application. Routing enables navigation from one view
 to the next (within the same page)-->

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
