<h2>Products</h2>

<div *ngFor="let product of products; index as productId">

  <!-- Interpolation {{ }} lets you render the property value as text -->
  <!-- The RouterLink directive gives the router control over the anchor element. -->
  <!-- Users can click on a product name from the list to see
  details in a new view, with a distinct URL/route (all due to the routerLink)-->
  <!-- app.modules.ts, product-details.component.ts,
  product-details.component.html were edited to implement this functionality -->
  <a
  [title]="product.name + ' details'"
  [routerLink]="['/products', productId]">
      {{ product.name }}
  </a>
  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  <!-- Event binding uses a set of parentheses, ( ), around the event
  Bind the button's click event to the share() method
  -->
  <button (click)="share()">
    Share
  </button>

  <!--Pass the current product as input to the component using property binding.-->
  <app-product-alerts [product]="product" (notify)="onNotify()">
    <!--"product" refers to the product in the for loop in the div.
     This is binded to the property of ProductAlertsComponent, product-->
  </app-product-alerts>
</div>
<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
