<h3>Shipping Prices</h3>

<!--the async pipe returns the latest value from a stream of data and continues
to do so for the life of a given component. When Angular destroys that Component,
the async pipe automatically stops. -->
<div class="shipping-item" *ngFor = 'let shipping of shippingCosts | async'>
  <span>{{ shipping.type }}</span>
  <span>{{ shipping.price | currency}}</span>
</div>
